<a class="logo" href="{{@site.url}}">
    {{#if @site.logo}}
        <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
        <span class="logo-text">❯ {{@site.title}}<b class="flash">_</b></span>
    {{/if}}
</a>